<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Authentication</title>
    <link rel ="stylesheet" href="static/css/OtpAuthentication.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
 <div id="otpSection">
        <h2>Enter OTP</h2>
        <p>Please enter the One-Time Password sent to your device.</p>
        <input type="text" id="otp" placeholder="One-Time Password">
        <button id="verifyBtn">Verify OTP</button>
 </div>
<script src="static/main_js/OtpAuthentication.js"> </script>
</body>
</html>